<div ng-controller="doctorController" layout="column" ng-cloak class="md-inline-form">
  <div layout-gt-sm="row">
  	<h3>Find a Doctor</h3>
  </div>
  <form name='filterForm' ng-submit='findDoctors()'>
  	<md-content md-theme="docs-dark" layout-gt-sm="row">
    	<div>
		    <md-input-container>
		        <label>First Name</label>
		        <input ng-model="filter.first_name">
		    </md-input-container>
		    <md-input-container>
		        <label>Last Name</label>
		        <input ng-model="filter.last_name">
		    </md-input-container>
		    <md-input-container>
		        <label>Gender</label>
		        <input ng-model="filter.gender">
		    </md-input-container>
		    <md-input-container>
		        <label>Distance</label>
		        <input ng-model="filter.distance">
		    </md-input-container>
	    </div>
 	</md-content>
  	<md-content md-theme="docs-dark" layout-gt-sm="row">
    	<div>
	      <md-input-container>
	        <label>Insurance</label>
	        <input ng-model="filter.insurance">
	      </md-input-container>
	      <md-input-container>
	        <label>Sort</label>
	        <input ng-model="filter.sort">
	      </md-input-container>
	      <md-input-container>
	        <label>Fields</label>
	        <input ng-model="filter.fields">
	      </md-input-container>
	      <md-input-container>
	        <label>Limit</label>
	        <input ng-model="filter.limit">
	      </md-input-container>
      	  <md-button type="submit" class="md-primary">Find Doctors</md-button>
      	</div>
   	</md-content>
  </form>
</div>