<div>
   <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href='#/dashboard' name="page1">Dashboard</md-nav-item>
      <md-nav-item md-nav-href="#/searchDoctor" name="page2">Search Doctor</md-nav-item>
      <md-nav-item md-nav-href="#/searchPractice" name="page3">Search Practice</md-nav-item>
    </md-nav-bar>
    <div class="ext-content">
      <form>
        <h3>Doctor Inputs</h3>
          <p>First Name<input>{{user.Name}}  Last Name<input></p>
          <p>Doctor Long: <input value='{{userLong}}'>  Doctor Lat: <input value='{{userLat}}'></p>
          <p>Insurance: <input value=''</p>
      </form>

      <table>

      </table>
    </div>
  </md-content>
</div>